/* Assuming your CSS file is named displaySessions.css */



.session {
    width: 50%;
    margin-left: 400px;
}

h1 {
    margin-left: 200px;
    color: rgb(134, 3, 154);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(134, 3, 154);
    margin-bottom: 20px;
    padding: 20px;
}

p {
    margin: 0;
    padding: 5px 0;
}

/* You can customize the colors based on your preference */
li {
    background-color: #f8f8f8;
}

li:hover {
    background-color: rgb(49, 49, 49);
}

/* Add more styles as needed */

button {
  background-color: rgb(134, 3, 154);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(134, 3, 154);
}