.wrapper {
  display: flex;
  height: 100vh;
}
.session-form-container {
  margin-top: 65px;
  max-width: 680px;
  height: 580px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 40px;
  margin-left: 250px;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.s-form-row {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
}

.s-form-row label {
  width: 150px; 
  margin-right: 15px; 
  text-align: right; 
}

.s-form-row input[type="time"] {
  width: 160px; 
}

.s-form-row input {
  flex: 1; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 489px;
}

.s-form-row button {
  width: 84%;
  padding: 10px;
  background-color: rgb(134, 3, 154);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 99px;
}

.s-form-row button:hover {
  background-color: rgb(134, 3, 154);
}

.session-image {
  display: flex;
  align-items: center; 
}

.session-image img {
  margin-right: 10px; 
}
.image {
  max-width: 100px; 
  max-height: 100px; 
  width: auto; 
  height: auto; 
}

.session-form h1 {
    margin-left: 50px;
}

.time-input {
  margin-left: 15px;
  display: flex;
}

.time-input1 label{
  margin-left: 64px;
}

.sub-input {
    display: flex;
}

.sub-input input {
    width: 160px;
}

.select-input {
  max-width: 505px;
  margin-bottom: 10px;
  flex: 1; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.time-input label {
    margin-left: -13px;
}

.s-form-row input[type="date"] {
  max-width: 487px;
}

.sub-input1 label{
  margin-left: 94px;
}

.sub-input1 input {
    width: 160px;
    margin-right: 10px;
}

.num-input {
  margin-left: 103px;
}

.num-input input {
  margin-left: 2px;
}

.num-input1 label{
  margin-left: 41px;
}

.num-input1 input {
  width: 158px;
}