.wrapper {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right , #c168e1,#f8fcbf,#f8fcbf,#efbdfa,#e7abf4,#f8fcbf);
}
.student-profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.student-info-container {
    display: flex;
    width: calc(50% - 20px); /* 50% width minus padding */
    margin-left:240px;
    height: 580px;
    margin-top: 50px;
}

.student-info-left-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px #0c0c0c; /* Add dashed border */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(9, 9, 9, 0.6); /* Add shadow effect */
}

.student-info-right-box {
    width: 900px; /* 50% width minus padding */
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 40px;
    border: 1px #0b0b0b; /* Add dashed border */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Add shadow effect */
}
.right-box > * {
    margin-bottom: 10px;
}
.right-box label {
    width: 150px; /* Set a fixed width for labels */
    margin-right: 20px;
}

.right-box input {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Calculate width minus label width and margin */
}

.photo-container {
    width: 170px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.placeholder {
    width: 160px;
    height: 170px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(134, 3, 154), rgb(199, 70, 219), rgb(162, 29, 182), rgb(168, 3, 193), rgb(190, 55, 210), rgb(155, 18, 176), rgb(186, 51, 207), rgb(167, 49, 186));
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #f4eeee;
    border-color: #110404;
    border-radius: 50%;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;;
}

.studentfullname {
    margin-bottom: 10px;
    margin-top: 15px;  
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.links a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.links img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%; /* to make the logos circular */
}
.student-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

.student-info h3 {
    font-size: 20px;
    margin-top: 20px;
}

.student-info p {
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 400px;
}

.input-row label {
    /* margin-right: 10px; */
    width: 150px;
}

.input-row input {
    flex: 1;
    padding: 8px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 20px;
}

button {
    padding: 15px 20px;
    width: 140px;
    background-color: rgb(134, 3, 154);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 1px;
}

button:hover {
    background-color: rgb(224, 109, 27);
}

.socialprofiles input {
    flex: 1;
    padding: 8px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 20px;
}

.editprofile:hover{
    color: #110404;
}